<div class="container text-center">
  <h2 class="my-4">
  <div class="container">
  <ul class="list-group mb-4">
    <% @list.movies.each do |movie| %>
    <h2><strong><%= @list.name%></strong></h2>
      <strong><%= movie.title%></strong>
      <p><%= movie.overview%></p>
      </li>
    <% end %>
    <% @movies.bookmark.each do |bookmark| %>
      <p><%= bookmark.comment%></p>
      </li>
    <% end %>
  </ul></h2>

 <div class="d-flex justify-content-center mt-4 gap-3">
    <%= link_to "Back to the movies lists overview", lists_path, class: "btn btn-outline-primary btn-lg" %>
    <%= link_to "Add a new bookmark to the list", new_list_bookmark_path(@list), class: "btn btn-outline-primary btn-lg" %>
  </div>
