<nav class="navbar bg-body-tertiary">
  <div class="container-fluid d-flex align-items-center">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="https://e7.pngegg.com/pngimages/776/561/png-clipart-computer-icons-internet-domain-name-cinema-logo-television-angle.png"
           alt="Logo" width="30" height="24" class="d-inline-block align-text-top me-2">
      <span class="fw-bold">MOVIES WATCHLIST</span>
    </a>
  </div>
</nav>

<div class="container text-center">
  <h2 class="my-4">
    <div class= "fw-bold"> <%= @list.name %></strong> </div>
  </h2>

  <div class="container">
    <ul class="list-group mb-4">
      <% @bookmark.each do |bookmark| %>
        <li class="list-group-item">
          <h3><strong><%= bookmark.movie.title %></strong></h3>
          <div class= "fw-bold"> <p> Movie overview: </div> <%= bookmark.movie.overview %></p>
          <div class= "fw-bold"> <p> Bookmark comment: </div> <%= bookmark.comment %></p>
          <%= link_to "Delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-outline-danger btn-sm fw-bold" %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="d-flex justify-content-center mt-4 gap-3">
    <%= link_to "Back to the movies lists overview", lists_path, class: "btn btn-outline-primary btn-lg fw-bold" %>
    <%= link_to "Add a new bookmark to the list", new_list_bookmark_path(@list), class: "btn btn-outline-success btn-lg fw-bold" %>
  </div>
</div>
